@import "src/assets/styles/mixins/Button";

.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;

  .ContinueButton {
    @include Button;
    @include Success;
  }

  .CancelButton {
    @include Button;
    @include Danger;
  }
}